#tb { 
  right: 5px;
  left: 5px;
  bottom: 40px;
  top: 5px;
  position: absolute; 
  overflow: hidden; 
  margin: 0; 
  padding: 0;
  border: 2px #555 solid;
}
#tb-net {
  background: #222;
  height: 100%
}
#controls {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #ccc;
}
#controls div {
  display: table;
  margin: 0 auto;
}
#controls button {
  margin: 5;
}
#tb-info {
  bottom: 50px;
  top: 50px;
  left: 20px;
  width: 300px;
  color: #eee;
  position: absolute;
  pointer-events: none;
}

#status-board{
  background: black;
}

pre {
  background: #222;
  color: #ddd;
  border: none;
  overflow: visible;
}
