
body {
  background: #222;
  color: #ccc;
  font-family: monospace;
  font-size: 1.1em;
}

#status-container {
  margin: 10px;
}

th, td {
  padding: 5px;
}

.header {
  padding-bottom: 5px;
  padding-top: 20px;
}

.type-header {
  font-size: 1.5em;
}
.node-header {
  color: #2b7ce9;
}
.switch-header {
  color: #83c985;
}
.node-status {
}

.node-id {
  font-size: 1.3em;
}

.state {
  color: #5697ff;
}

.config-state {
  color: #f99a3b
}

.ip {
}
